<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style_sheet.css" type="text/css">
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <title>Register - G.A.M.E</title>
  </head>

  <body>
    <div class="paper">
      <h1>Welcome to Generating Arguments for Mathematical Examination</h1><br>
      <div class="login">
        <form target="" method="POST">
          <h5>Register:</h5>
          {% for message in get_flashed_messages(category_filter=("register_error")) %} <!-- Show returned error message if any -->
            <p class="error">{{message}}</p>
          {% endfor %}
          <label for="username">Username:</label><br> <!-- Fields for username, password and repear password -->
          <input type="text" id="username" name="username"><br>
          <label for="password">Password:</label><br>
          <input type="password" id="password" name="password"><br>
          <label for="rpassword">Repeat Password:</label><br>
          <input type="password" id="rpassword" name="rpassword"><hr>
          <input type="submit" value="Register" name="Register">
        </form>
      </div>
    </div>
  </body>
</html>
